.contact-section {
  padding: 100px 40px;
  background: white;
  color:black;
}

.contact-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.contact-title span {
  color: #ffcc00;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  align-items: flex-start;
}

/* LEFT INFO */
.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  margin-bottom: 15px;
  font-size: 15px;
}

/* FORM */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  background: #111;
  color: white;
  font-size: 15px;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 10px #ffcc00;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  background: #ffcc00;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #e6b800;
}

/* Animation */
.contact-info,
.contact-form {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.6s forwards ease-out;
}

.contact-form {
  animation-delay: 0.15s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
