.footer {
  background: white;
  padding: 50px 20px;
  text-align: center;
  color: white;
  border-top: 1px solid #222;
}

.footer-name {
  font-size: 28px;
  font-weight: 700;
  color:#ffcc00;
  margin-bottom: 5px;
}

.footer-tag {
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.footer-socials a {
  color: #ffcc00;
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.footer-socials a:hover {
  color: black;
  background: #ffcc00;
  box-shadow: 0 0 10px #ffcc00;
}

.footer-copy {
  color:black;
  font-size: 14px;
  margin-top: 10px;
}
