.test-section {
  padding: 100px 40px;
  background:white;
  color: black;
}

.test-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.test-title span {
  color: #ffcc00;
}

/* Grid */
.test-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* Card */
.test-card {
  background: #111;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #222;
  transition: 0.35s ease;
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.7s forwards ease-out;
}

.test-card:hover {
  border-color: #ffcc00;
  box-shadow: 0 0 15px #ffcc00;
  transform: translateY(-8px);
}

.test-msg {
  color: #dddddd;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.test-name {
  color: #ffcc00;
  font-size: 20px;
  margin-bottom: 5px;
}

.test-role {
  color: #bbbbbb;
  font-size: 14px;
}

/* Animation */
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
